services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8000:8000"
      - "8501:8501"
    volumes:
      - uploads_data:/app/uploads

volumes:
  uploads_data:
